body{
  background: #EEE;
}
#output{
  position: absolute;
  background: white;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
#input{
  height: 60rem;
  background: #333;
  color: white;
  margin-bottom: 0;
}
.wrapper{
  position: relative;
}

canvas{
  position: absolute;
  top: 0;
  left: 0;
}
.canvas-wrapper{
  margin: 0 auto;
  width: 460px;
}
.stamp{
  height: 10rem;
  cursor: pointer;
}
#export{
  display: none;
}
.title{
  text-align: center;
  margin: 5rem 0;
}
.container{
  margin-bottom: 2rem;
}

.svgicon{
  margin-bottom: -10px;
}

.stamp-title{
  color: #a5a5a5;
  text-align: center;
  margin: 1rem 0 1rem 0;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 2rem 0 2rem 0;
}

.stamp-box{
  background: #FAFAFA;
  margin-top: 3rem;
  padding: 0.5rem 2rem;
  border-radius: 4px;
}

.footer{
  line-height: 12rem;
  margin-top: 4rem;
  color: white;
  text-align: center;
  background: #333;
}