body{
  background: #EEE;
}
#output{
  position: absolute;
  background: white;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
#input{
  height: 300px;
  background: #333;
  color: white;
}
.wrapper{
  position: relative;
}

canvas{
  position: absolute;
  top: 0;
  left: 0;
}
.canvas-wrapper{
  margin: 0 auto;
  width: 460px;
}
.stamp{
  height: 6rem;
  cursor: pointer;
}
#export{
  display: none;
}
.title{
  text-align: center;
  margin-top: 2rem;
}
.container{
  margin-bottom: 2rem;
}